AdventOfCode2022.xcodeproj/project.xcworkspace/contents.xcworkspacedata
AdventOfCode2022.xcodeproj/project.xcworkspace/xcuserdata/tdo.xcuserdatad/UserInterfaceState.xcuserstate
AdventOfCode2022.xcodeproj/xcshareddata/xcschemes/AdventOfCode2022.xcscheme
AdventOfCode2022.xcodeproj/xcuserdata/tdo.xcuserdatad/xcschemes/xcschememanagement.plist
AdventOfCode2022.xcworkspace/contents.xcworkspacedata
